* {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h3 {
    color: var(--sub-color);
}

button {
    margin: 2px 0;
    padding: 0.5em 1em;
    border: none;
    border: solid 2px transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    background-color: var(--sub-alt-color);
    color: var(--text-color);
    cursor: pointer;
}

button:hover  {
    background-color: var(--main-color);
    color: var(--sub-alt-color);
}